{
  "singleQuote": false,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "objectWrap": "preserve"
}
